.BadgeForm{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    max-height: 650px;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 750px;
}

.Submit__button{
    margin-top: 15px;
    background-color: white;
    padding: 10px 40px;
    border-radius: 5px;
    display: block;
    align-self: center;
    border: 1px solid lightblue;
}

.Submit__button:hover{
    background-color: lightblue;
    color: black;
    font-weight: bolder;
}